.progressWrapper {
    background-color: #eeeeee;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0px;
}

.line {
    border-bottom: 5px solid #dbdbdb;
    flex: 1;
    margin-top: -6rem;
}
